*{
    margin: 0;
    padding: 0;
}
.div_imagem_capa img{
    margin-bottom: -3.8px;
    margin: auto;
    display: block;
 }

.espaco_lados{
    padding:  0px 2vw 2vw 2vw; 
    
}
.imagemcapa{
    max-width: 100%;
}

.bordaprincipal{
    border: 1px solid black;
    padding: 5px;
}

.botao{
    background-color: antiquewhite;
    border: 2px solid black;
    padding: 4px;
}
nav{
    text-align: center;
}